<main>
  <form class="example-form mat-elevation-z8" [formGroup]="formRegisterProduct">
    <h1 class="title">{{ title }}</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome do produto" formControlName="name" />
      <mat-error>Insira um nome para o produto</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        placeholder="Descrição do produto"
        formControlName="description"
      ></textarea>
      <mat-error>Insira uma descrição para o produto</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Endereço URL da imagem</mat-label>
      <input
        type="text"
        matInput
        placeholder="Endereço URL da imagem"
        formControlName="imageUrl"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Preço</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ex: 199.99"
        formControlName="price"
      />
      <mat-error>Insira um número maior que 0 para o preço produto</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Quantidade de Estrelas totais</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ex: 22"
        formControlName="stars"
      />
      <mat-error
        >Insira um número para a quantidade de estrelas totais</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Quantidade de Avaliações totais</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ex: 5"
        formControlName="reviews"
      />
      <mat-error
        >Insira um número para a quantidade de avaliações totais</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="saveProduct()"
      [disabled]="formRegisterProduct.valid == false"
    >
      {{ buttonAction }}
    </button>
  </form>
</main>
